.reserve {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.rContainer {
	background-color: #fff;
	padding: 1.25rem;
	position: relative;
}
.rClose {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.rItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3.125rem;
	padding: 1.25rem;
}
.rItemInfo {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}
.rTitle {
	font-weight: 500;
}
.rDesc {
	font-weight: 300;
}
.rMax {
	font-size: 0.75rem;
}
.rPrice {
	font-weight: 500;
}
.rButton {
	border: none;
	padding: 0.7rem 1.25rem;
	background-color: #0071c2;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	border-radius: 0.25rem;
	width: 100%;
	margin-top: 1.25rem;
}
