.hotelContainer {
	display: flex;
	justify-content: center;
	margin-top: 1.25rem;
}
.hotelWrapper {
	width: 100%;
	max-width: 1024px;
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
	position: relative;
}
.bookNow {
	position: absolute;
	top: 0.7rem;
	right: 0;
	border: none;
	outline: none;
	padding: 0.7rem 1.25rem;
	background-color: #0071c2;
	color: #fff;
	font-weight: 700;
	border-radius: 0.25rem;
	cursor: pointer;
}
.hotelImgWrapper {
	width: 33%;
}
.hotelImg {
	width: 100%;
	object-fit: cover;
}
.hotelTitle {
	font-size: 1.5rem;
}
.hotelAddress {
	font-size: 0.75rem;
	display: flex;
	align-items: center;
	gap: 0.7rem;
}
.hotelPriceHighlight {
	color: #008009;
	font-weight: 500;
}
.hotelImages {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.hotelDetails {
	display: flex;
	justify-content: space-between;
	gap: 1.25rem;
	margin-top: 1.25rem;
}
.hotelDetailsTexts {
	flex: 3;
}
.hotelDesc {
	font-size: 0.9rem;
	margin-top: 1.25rem;
}
.hotelDetailsPrice {
	flex: 1;
	background-color: #ebf3ff;
	padding: 1.25rem;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}
.hotelDetailsPrice > h1 {
	font-size: 1.1rem;
	color: #555;
}
.hotelDetailsPrice > span {
	font-size: 0.9rem;
}
.hotelDetailsPrice > h2 {
	font-weight: 300;
}
