.navbar {
	height: 50px;
	background-color: #003580;
	display: flex;
	justify-content: center;
}
.navContainer {
	width: 100%;
	max-width: 1024px;
	padding: 0 0.5rem;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	font-weight: 500;
}
.navItems {
}
.navButton {
	border: none;
	outline: none;
	margin-left: 1.5rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	color: #003580;
}
