body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.active {
	border: 1px solid #fff;
	padding: 0.65rem;
	border-radius: 1.25rem;
}
.headerIcon {
	color: lightgray;
}
.date {
	position: absolute;
	top: 3.2rem;
}
